theme: jekyll-theme-chirpy

lang: en

timezone: Asia/Seoul

title: Phomelo

tagline: 404 Tagline not found

description: >-
  push blog --force

url: "https://blog.phomelo.com"

github:
  username: dor1a

#twitter:
#  username:

social:
  name: Dor1
  email: me@phomelo.com
  links:
    #- https://twitter.com/username
    - https://github.com/dor1a
    # - https://www.facebook.com/username
    # - https://www.linkedin.com/in/username

#webmaster_verifications:
#  google:
#  bing:
#  alexa:
#  yandex:
#  baidu:
#  facebook:

analytics:
#  google:
#    id:
  goatcounter:
    id: dor1
#  umami:
#    id:
#    domain:
#  matomo:
#    id:
#    domain:
  cloudflare:
    id: 7a3b493bee82447a8e6a3667e07989ff
#  fathom:
#    id:

pageviews:
  provider: goatcounter

theme_mode: dark

cdn: https://pub-8aa7217da3b64b10808fc34634e806ce.r2.dev

avatar: /assets/img/logo/phomelo_logo_512x512.png

social_preview_image: /assets/img/social/phomelo_1200x630.svg

toc: true

comments:
  provider: giscus
#  disqus:
#    shortname:
#  utterances:
#    repo:
#    issue_term:
  giscus:
    repo: dor1a/dor1a.github.io
    repo_id: R_kgDOPEyouw
    category: Comments
    category_id:  DIC_kwDOPEyou84CsWwO
    mapping: pathname
    strict: 0
    input_position: bottom
    lang: ko
    reactions_enabled: 1

#assets:
#  self_host:
#    enabled:
#    env:

pwa:
  enabled: true
  cache:
    enabled: true
#    deny_paths:
#       - "/example"

paginate: 10

baseurl: ""

# ------------ The following options are not recommended to be modified ------------------

kramdown:
  footnote_backlink: "&#8617;&#xfe0e;"
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    css_class: highlight
    span:
      line_numbers: false
    block:
      line_numbers: true
      start_line: 1

collections:
  tabs:
    output: true
    sort_by: order

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post
      comments: true
      toc: true
      permalink: /posts/:title/
  - scope:
      path: _drafts
    values:
      comments: false
  - scope:
      path: ""
      type: tabs
    values:
      layout: page
      permalink: /:title/

sass:
  style: compressed

compress_html:
  clippings: all
  comments: all
  endings: all
  profile: false
  blanklines: false
  ignore:
    envs: [development]

exclude:
  - "*.gem"
  - "*.gemspec"
  - docs
  - tools
  - README.md
  - LICENSE
  - purgecss.js
  - "*.config.js"
  - "package*.json"

jekyll-archives:
  enabled: [categories, tags]
  layouts:
    category: category
    tag: tag
  permalinks:
    tag: /tags/:name/
    category: /categories/:name/
